@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/*Formatação geral*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0%;
}

a {
    text-decoration: none;
}

/*Final da formatação global*/
/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;

}


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    margin-left: 2vh;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: center;
    align-items: center;
}

hr {
    justify-content: right;
    height: 0.2vh;
    background-color: black;
    width: 55vw;
}

/*Formatação da navbar*/
.navbar {
    color: #ffffff;
    list-style: none;
    display: flex;
    width: 85vh;
    justify-content: space-around;
}

.header .navbar a {
    color: black;
}


/*inicio Banner*/
/*Formatação do banner*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/banner.gif);
    background-attachment: fixed;
    background-size: cover;
}

.banner {
    width: 100%;
    height: 90vh;
}

.banner .container img {
    height: 30vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 65%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}

.banner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vh;
    margin: 0;
}

.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}
/*Final do Banner*/
.blog{ 
    display: flex;
    width: auto;
    height: auto;
}
.blog .container {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../../img/fundoBlog.png);
    
}
.blog .container .tituloBlog{
    width: auto;
    height:auto;
    align-items: center;
}
.blog .textoBlog{

    flex-direction:row-reverse;

}
/*Inicio do blog*/
/* .blog{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../img/fundoBlog.png);
} /* Definição do tamanho e altura do fundo e da cor  
.blog .tituloBlog{
    text-align: center;
}/* Deixando o titulo blog no centro 
.blog .tituloBlog img{
    /* um espaçamento do blog da página 
    margin-top: 5%;
}
.blog .tituloBlog h1{
    margin: 0;
    height: auto;
}
/* Arrumando o titulo historia 
.blog .textoBlog{
    height: 100vh;
    width: 100%;
}
.subTituloBlog h1{
    float: right;
    text-align: center;
    border-bottom: solid 1px #000;
    width: 15vw;
}
.blog .texto p{
   
  
    background-color: aqua;
}
.blog .texto {
    width: 5%;
    text-align: justify;
    font-size: 25pt;
    margin-left: 0%;
}
 */
/*Final do blog*/