@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/*Formatação geral*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0%;
}

a {
    text-decoration: none;
}

/*Final da formatação global*/
/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #ffffff;


}


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    margin-left: 4vh;
    width: auto;
}
.navbar ul{
    margin: 2% 0% 1% 0%;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: center;
    align-items: center;
}

hr {
    margin: auto;
    height: 0.2vh;
    background-color: black;
    width: 55vw;
}

/*Formatação da navbar*/
.navbar {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 0;
}

.header .navbar a {
    color: black;
}


/*inicio Banner*/
/*Formatação do banner*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/banner.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 90vh;
}

.banner .container img {
    height: 25vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 75%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}

.banner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10vh;
    margin: 0;
}

.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}

/*Final do Banner*/

/*Inicio do blog*/
.paragrafoEspaco{
    margin-left: 10%;
}

.blog {
    display: flex;
    width: auto;
    height: auto;
}

.blog .container {
    align-items: center;
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../../img/fundoBlog.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

.blog .container h1 img {
    width: auto;
    height: 28vh;
    margin: 0%;
    align-items: center;
}
.blog .container h1{
    margin: 0%;
}

.blog .textoBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10%;
    width: 90%;
    height: 100vw;
}

.subTituloBlog h2{
    margin: 0%;
    text-align: center;
    border-bottom: solid 2px #000000;
    width: 15vw;
    font-size: 8vh;
}

.blog .texto p {
    margin: 0% 4%;
}

.blog .texto {
    margin: 0%;
    width: 72%;
    text-align: justify;
    font-size: 6.2vh;
    line-height: 10vh;

}

.marcaBlog {
    width: auto;
    background-color: #DFCAFE;
    border-radius: 50vw;
}

/*Final do blog*/
/*Inicio Criação do blog*/
.criacaoBlog{
    height: 105vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoCriacaoBlog.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.criacaoBlog .container{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items:center;
    margin: 0%;
    width: 80%;
    height: 85%;
}
.criacaoBlog .container hr{
    margin: 3% 0%;
    width: 55%;
    height: 0.6%;
    text-align: center;
    background-color: #B19CD9;
}
.subtitulo_criacaoBlog{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin:4% 68% 0% 0%;
    height: 15%;
}
.subtitulo_criacaoBlog h2{
    border-bottom: solid 2px #000000;
    width: 28vw;
    font-size: 8vh;
    margin: 0%;
    padding: 0% 0% 0% 10%;
}
.texto_criacaoBlog{
    width: 90%;
    text-align: justify;
    font-size: 4.26vh;
    justify-content: center;
    line-height: 8vh;
}
/*Final Criação do blog*/
/*Inicio do conheça-me*/
.conhecaMe{
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoConheca.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.conhecaMe .titulo{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0%;
    width: 80%;
    height: 50%; 
}
.conhecaMe .titulo h1 img{
    width: auto;
    height: 28vh;
    margin: 0%;
}

.conhecaMe .textoConheca{ 
    width: 100%;
    justify-content: center;
    margin-left: 35%;
}
.conhecaMe .textoConheca p{
    line-height: 10vh;
    font-size: 4.26vh;
    text-align: justify;
    margin: 0%;
}
/*Final do conheça-me*/