@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Formatação geral*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}
li:hover{
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1.5s;
}

/*Final da formatação global*/
/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #ffffff;


}


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    margin-left: 4vh;
    width: auto;
}

.navbar ul {
    margin: 2% 0% 1% 0%;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: center;
    align-items: center;
}

hr {
    margin: auto;
    height: 0.2vh;
    background-color: black;
    width: 55vw;
}

/*Formatação da navbar*/
.navbar {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 0;
}

.header .navbar a {
    color: black;
}


/*inicio Banner*/
/*Formatação do banner*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/banner.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 90vh;
}

.banner .container img {
    height: 25vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 75%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}


.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}

/*Final do Banner*/

/*Inicio do blog*/
.paragrafoEspaco {
    margin-left: 10%;
}

.blog {
    display: flex;
    width: auto;
    height: auto;
}

.blog .container {
    align-items: center;
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../../img/fundoBlog.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog .container h1 img {
    width: auto;
    height: 28vh;
    margin-top: 25%;
    align-items: center;
}

.blog .container h1 {
    margin: 0%;
}

.blog .textoBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10%;
    width: 90%;
    height: 100vw;
}

.subTituloBlog h2 {
    margin: 0%;
    text-align: center;
    border-bottom: solid 2px #000000;
    width: 15vw;
    font-size: 8vh;
}

.blog .texto p {
    margin: 0% 4%;
}

.blog .texto {
    margin: 0%;
    width: 72%;
    text-align: justify;
    font-size: 6.2vh;
    line-height: 10vh;

}

.marcaBlog {
    width: auto;
    background-color: #DFCAFE;
    border-radius: 50vw;
}

/*Final do blog*/
/*Inicio Criação do blog*/
.criacaoBlog {
    height: 105vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoCriacaoBlog.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.criacaoBlog .container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 80%;
    height: 85%;
}

.criacaoBlog .container hr {
    margin: 3% 0%;
    width: 55%;
    height: 0.6%;
    text-align: center;
    background-color: #B19CD9;
}

.subtitulo_criacaoBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4% 68% 0% 0%;
    height: 15%;
}

.subtitulo_criacaoBlog h2 {
    border-bottom: solid 2px #000000;
    width: 28vw;
    font-size: 8vh;
    margin: 0%;
    padding: 0% 0% 0% 10%;
}

.texto_criacaoBlog {
    width: 90%;
    text-align: justify;
    font-size: 4.26vh;
    justify-content: center;
    line-height: 8vh;
}

/*Final Criação do blog*/
/*Inicio do conheça-me*/
.conhecaMe {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoConheca.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.conhecaMe .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 50%;
}

.conhecaMe .titulo h1 img {
    width: auto;
    height: 28vh;
    margin: 4vh 0vh 4vh 0vh;
}

.conhecaMe .titulo h1 {
    margin: 0%;
}

.conhecaMe .textoConheca {
    width: 80%;
    justify-content: center;
    margin-left: 10%;
}

.conhecaMe .textoConheca p {
    line-height: 10vh;
    font-size: 4.26vh;
    text-align: justify;
    margin: 0%;
}

.marcaConheca {
    width: auto;
    background-color: #ADD8E6;
    border-radius: 50vw;
}

/*Final do conheça-me*/
/*Inicio do conheça - me arte */
.conhecaMe_arte {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../../img/fundoConheca01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.conhecaMe_arte .titulo {
    margin: 5% 0% 3% 18.2%;
    text-align: left;
    border-bottom: solid 2px #000000;
    width: 50vw;
    font-size: 4vh;
}

.conhecaMe_arte .central .titulo h2 {
    margin: 14% 0% 0% 4%;
    font-size: 8vh;
}

.conhecaMe_arte .central .textoArte {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.conhecaMe_arte .central .textoArte p {
    width: 68%;
    font-size: 5.2vh;
    line-height: 10vh;
    text-align: justify;
    margin: 2% 2.5%;
}

/*Final do conheça - me arte*/
/*Inicio do conheça - me arte 02*/
.conhecaMe_arte02 {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../../img/fundoConheca02.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.conhecaMe_arte02 .titulo {
    margin: 8% 0% 3% 48.4%;
    text-align: left;
    border-bottom: solid 2px #000000;
    width: 30%;
    font-size: 4vh;
}

.conhecaMe_arte02 .central .titulo h2 {
    margin: 14% 0% 0% 8%;
    font-size: 8vh;
}

.conhecaMe_arte02 .central .textoArte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.conhecaMe_arte02 .central .textoArte p {
    width: 68%;
    font-size: 6.2vh;
    line-height: 10vh;
    text-align: justify;
    margin: 2% 2.5%;
}

/*Final do conheça - me arte 02*/
/*Inicio do destaque*/
.destaque {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/destaqueFundo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;

    align-items: center;
}

.destaque .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 50%;
}

.destaque .titulo h1 img {
    width: auto;
    height: 28vh;
    margin: 4vh 0vh 4vh 0vh;
}

.destaque .titulo h1 {
    margin: 0%;
}

.destaque .textoConheca {
    width: 85%;
    height: 65vh;
    justify-content: center;
    margin-left: 10%;
    flex-direction: row;
    display: flex;
}

.destaque .textoConheca .card {
    width: 30vw;
    height: 18vw;
    flex-direction: row;
    display: flex;
    margin: 5% 5% 0% 0%;
    padding: 1% 0% 2% 0%;
    background-color: #C6F4AD;
    align-items: flex-start;
}
.conteudoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto;
}
.destaque .textoConheca .card:hover{
    width: 35vw;
    height: 18vw;
    flex-direction: row;
    display: flex;
    margin: 5% 5% 0% 0%;
    padding: 3% 0% 5% 0%;
    background-color: #C6F4AD;
    align-items: flex-start;
    transition: 1s;
}
.destaque .textoConheca .card img{
    border-radius: 100%;
    width: 25%;
    height: 20%;
    margin:  auto;
    border: solid 1px #000000;
}
.destaque .textoConheca .card p{
    text-align: justify;
    margin: 1% 8%;
    font-size: 3vh;
}
.destaque .textoConheca .card button{
    width: 10vw;
    height: 5vh;
    background-color:#ffffff;
    border:solid 2px #72f103b6;
    border-radius: 50vw;
    margin-top: 3%;
}
.destaque .textoConheca .card button:hover{
    width: 15vw;
    height: 5vh;
    background-color:#e7fff1e0;
    border:solid 2px #616161;
    border-radius: 50vw;
    margin-top: 3%;
    color: #6d6d6d;
    transition: 2s;
}

 #cardMeio {
    background-color: #B2DF8A;  
    margin: 0% 5% 0% 0%;
}
/*Final do destaque*/
/*Inicio da pesquisa*/
.pesquisa {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoPesquisa.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.pesquisa .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 50%;
}

.pesquisa .titulo h1 img {
    margin: 10% auto;
    height: 28vh;
    margin: 4vh 0vh 4vh 0vh;
}

.pesquisa .titulo h1 {
    margin: 0%;
}

.pesquisa .textoConheca {
    width: 73%;
    justify-content: center;

}

.pesquisa .textoConheca p {
    line-height: 8vh;
    font-size: 4vh;
    text-align: justify;
    margin: 0%;
}
.pesquisa .textoConheca button{
    width: 20vw;
    height: 7vh;
    background-color:#ffffff;
    border:solid 2px #F9A7B0;
    border-radius: 50vw;
    text-align: center;
    margin: 5% 40%;
}
.pesquisa .textoConheca button:hover{
    background-color:#F9A7B0;
    border:solid 2px #ea48ff;
    margin: 3% 30%;
    width: 30vw;
    height: 8vh;
    color: #FFFFFF;
    transition: 1.0s;
    font-size: 2.5vh;
}
/*Final da pesquisa*/
/*Inicio do contato*/
.contato {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../../img/fundoContato.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    align-items: center;
}

.contato .titulo {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: auto;
    margin: 0% 15% 15vh 2%;
}
.contato .titulo img{
    width: 85%;
    height: 35vh;
}


.contato .formContato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 55vw;
    height: 100vh;
    margin-right: 5%;
    background-color: #ffe6cf;
    border-radius: 0vw 4vw;
}
.contato .formContato input{
   width: 35vw;
   height: 5.8vh;
   border-radius: 32vw;
   border:solid 2px #f5e0e0;
}
.contato .formContato button{
    width: 20vw;
    height: 7vh;
    background-color:#ffffff;
    border:solid 2px #ffffff;
    border-radius: 50vw;
    text-align: center;
    margin: 8% 20% 0% 20%;
}
.contato .formContato button:hover{
    width: 35vw;
    height: 7vh;
    background-color:#ffaf7a;
    border:solid 2px #696969;
    border-radius: 50vw;
    text-align: center;
    margin: 8% 0% 0% 0%;
    transition: 1s;
}
.contato .formContato h2{
    font-size: 5.5vh;
    width: 40vw;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat';
    border-bottom: solid 0.4vh #272727;
    margin: 10% 0% 4% 0%;
}
.contato .formContato p{
    margin: 5% 0% 1% 0%;
    font-size: 3vh;
    color: #000000;

}
#nome{
    margin: 2% 0% 1% 0%;
}
.detalheNuvem{
    display: flex;
    height: 25vh;
    justify-content: flex-start;
    margin: 0% 90% 0% 0%;
}

/*Final do contato*/
