@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Formatação geral*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}
li:hover{
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1.5s;
}

/*Final da formatação global*/
/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #ffffff;


}


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    margin-left: 4vh;
    width: auto;
    transition: 1.5s;
}

.navbar ul {
    margin: 2% 0% 1% 0%;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: center;
    align-items: center;
}

hr {
    margin: auto;
    height: 0.2vh;
    background-color: black;
    width: 55vw;
}
hr.post{
    background-color: #F6FFEB;
    height: 0.1vh;
    width: 100%;
    padding-bottom: 10vh;
    border-top: none;
    border-bottom: 0.1vh solid #343434;
}

/*Formatação da navbar*/
.navbar {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 0;
}

.header .navbar a {
    color: black;
}


/*inicio Banner*/
/*Formatação do banner*/
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/post/fundoPostEncanto.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 90vh;
}

.banner .container img {
    height: 25vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 75%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}


.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}

/*Final do Banner*/

/*Inicio do destaque*/
.destaque {
    height: 105vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../assets/img/post/fundoCard.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;

}

.destaque .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
    width: 98vw;
    height: 10vh;
}

.destaque .titulo h1 img {
    width: auto;
    height: 28vh;
    align-items: center;
    display: flex;
}

.destaque .textoConheca {
    width: 85%;
    height: 55vh;
    justify-content: center;
    flex-direction: row;
    display: flex;

}
.p_card{
    font-size: 4vh;

  
}
p{
    margin: 0% 0% 0% 0%;
}
.card h1{
    color: #434343;
    font-size: 5vh;
    margin: 1%;
}

.destaque .textoConheca .card {
    border-radius: 8%;
    width: 25vw;
    height: 48vh;
    flex-direction: row;
    display: flex;
    padding: 1.5% 0% 6% 0%;
    margin: 0vh 0% 0% 5vw;
    background-color: #C6F4AD;
    align-items: flex-start;
    transition: 1.9s;
}
.conteudoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% auto;
}
.destaque .textoConheca .card:hover{
    width: 25vw;
    height: 18vw;
    flex-direction: row;
    display: flex;
    margin: 0.8% 6% 0.5% 9%;
    padding: 3% 0% 12% 0%;
    background-color: #C6F4AD;
    align-items: flex-start;
    transition: 1s;
    box-shadow: 0.2vh 0.1vw 5vh #444444;
}
.destaque .textoConheca .card img{
    border-radius: 100%;
    width: 45%;
    height: 45%;
    margin:  auto;
    border: solid 1px #000000;
    box-shadow: 0.1vh 0.1vw 2vh #101010;
}
.destaque .textoConheca .card p{
    text-align: justify;
    margin: 3% 7%;
    font-size: 3vh;
    line-height: 4.2vh;
}
.destaque .textoConheca .card button{
    width: 10vw;
    height: 5vh;
    background-color:#ffffff;
    border:solid 2px #72f103b6;
    border-radius: 50vw;
    margin-top: 3%;
}
.destaque .textoConheca .card button:hover{
    width: 15vw;
    height: 5vh;
    background-color:#fffcecfa;
    border:solid 2px #72f103b6;
    border-radius: 50vw;
    margin-top: 3%;
    color: #000000;
    transition: 2s;
}

/*Final do destaque*/

/*Inicio da pesquisa*/
.pesquisa {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../assets/img/fundoPesquisa.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.pesquisa .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 50%;
}

.pesquisa .titulo h1 img {
    margin: 10% auto;
    height: 28vh;
    margin: 4vh 0vh 4vh 0vh;
}

.pesquisa .titulo h1 {
    margin: 0%;
}

.pesquisa .textoConheca {
    width: 73%;
    justify-content: center;

}

.pesquisa .textoConheca p {
    line-height: 8vh;
    font-size: 4vh;
    text-align: justify;
    margin: 0%;
}
.pesquisa .textoConheca button{
    width: 20vw;
    height: 7vh;
    background-color:#ffffff;
    border:solid 2px #F9A7B0;
    border-radius: 50vw;
    text-align: center;
    margin: 5% 40%;
}
.pesquisa .textoConheca button:hover{
    background-color:#F9A7B0;
    border:solid 2px #ea48ff;
    margin: 3% 30%;
    width: 30vw;
    height: 8vh;
    color: #FFFFFF;
    transition: 1.0s;
    font-size: 2.5vh;
}
/*Final da pesquisa*/
/*Inicio dados mágicos*/
.dados{
    height: 115vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../assets/img/destaqueFundo.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h5{
    margin: 0%;
}
span.vetorIndique{
    font-size: 4vh;
    margin: 1%;
}
.dados .dadinho{
    background-image: url(../assets/img/post/dados.png);
    background-repeat: no-repeat;
    height: 60vh;
    width: 35vw;
    margin: auto;
}
.dados .cont{

    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;

}
.dados .resultado{
    margin: auto;
    height: 52vh;
    width: 29vw;
    border: 0.5vh solid #205732;
    font-size: 8vh;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.dados .titulo  {
    width: 5vh auto;
    height: 28vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Final dados mágicos*/