@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Formatação geral*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}
li:hover{
    font-size: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1.5s;
}

/*Final da formatação global*/
/*Formatação da navbar*/
.header {
    width: 100%;
    background-color: #ffffff;


}


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    margin-left: 4vh;
    width: auto;
    transition: 1.5s;
}

.navbar ul {
    margin: 2% 0% 1% 0%;
}

/*Div centralizadora - formatação global*/
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

/*Formatação do header container*/
.header .container {
    justify-content: center;
    align-items: center;
}

hr {
    margin: auto;
    height: 0.2vh;
    background-color: black;
    width: 55vw;
}

/*Formatação da navbar*/
.navbar {
    list-style: none;
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 0;
}

.header .navbar a {
    color: black;
}


/*inicio Banner*/
/*Formatação do banner*/
.header {
    width: 100%;
    height: 140vh;
    background-image: url(../assets/img/pesquisa/banner.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 90vh;
}

.banner .container img {
    height: 25vh;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 75%;
    color: rgb(255, 250, 206);
    flex-direction: column;
}


.banner p {
    font-family: 'Comfortaa', cursive;
    font-size: 5vh;

}

/*Final do Banner*/

/*Inicio do blog*/
.paragrafoEspaco {
    margin-left: 10%;
}

.blog {
    display: flex;
    width: auto;
    height: auto;
}

.blog .container {
    align-items: center;
    height: 110vh;
    width: 100%;
    color: rgb(60, 60, 60);
    flex-direction: column;
    background-image: url(../assets/img/pesquisa/dashboard.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

.blog .container h1 img {
    width: auto;
    height: 28vh;
    margin-top: 10%;
    align-items: center;
}


.blog .textoBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    width: 95%;
    height: auto;
}

.blog .texto p {
    margin: 0% 4%;
}

.blog .texto {
    margin: 0%;
    width: 92%;
    text-align: justify;
    font-size: 6.2vh;
    line-height: 10vh;

}
/*Final do blog*/
/*Inicio do form pesquisa*/
.formPesquisa{
    align-items: center;
    height: 105vh;
    width: 70%;
    background-color: #F9C0D2;
    border: 0.5vh solid black;
    border-radius: 0% 10vh 10vh 0%;
}
.formPesquisa .burguer{
    width: 100%;
    height: 13%;
    background-color: Transparent;
    border: none;
    background-image: url(../assets/img/pesquisa/bur.png);
    background-size: cover;
    margin: auto;
}
.formPesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formPesquisa .form h2{
    color: rgb(0, 0, 0);
    border-bottom: 0.4vh solid #000;
    font-size: 9vh;
    margin: 8% auto;
    
}
.formPesquisa .form p{
    font-size: 6vh;
    color: rgb(0, 0, 0);
    margin: 5% 0% 0% 0%;
    width: 36vw;
    
}
.formPesquisa .form input{
    width: 95%;
    height: 8%;
    border-radius: 15vh;
    border-color: #ff8fb2;
}
.formPesquisa .form button{
    font-family: 'Comfortaa', cursive;
    width: 95%;
    height: 13%;
    margin-top: 9%;
    border-radius: 15vh;
    background-color: white;
    border-color: #f96292;
    transition: 1.5s;
}
.formPesquisa .form button:hover{
    background-color: #f274a0;
    border-color: #ffffff;
    margin-top: 4%;
    color: white;
    transition: 1s;
    box-shadow: 1vh 1vh 5vw 1vh #000;
}
/*Final do form pesquisa*/
/*Inicio da pesquisa*/
.pesquisa {
    height: 100vh;
    width: 100%;
    color: rgb(60, 60, 60);
    background-image: url(../assets/img/fundoPesquisa.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.pesquisa .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 50%;
}

.pesquisa .titulo h1 img {
    margin: 10% auto;
    height: 28vh;
    margin: 4vh 0vh 4vh 0vh;
}

.pesquisa .titulo h1 {
    margin: 0%;
}

.pesquisa .textoConheca {
    width: 73%;
    justify-content: center;

}

.pesquisa .textoConheca p {
    line-height: 8vh;
    font-size: 4vh;
    text-align: justify;
    margin: 0%;
}

/*Final da pesquisa*/