#card2 img{
    height: 13vh;
    width: 8vw;
}
#card1 img{
    height: 13vh;
    width: 8vw;
}
#card3 img{
    height: 13vh;
    width: 8vw;
}
#card4 img{
    height: 13vh;
    width: 8vw;
}
#card5 img{
    height: 13vh;
    width: 8vw;
}
#card6 img{
    height: 13vh;
    width: 8vw;
}

